
@media screen and (min-width:800px){
    .header{
        width:70%;;
        height: 25px;
        position:fixed;
        left:15%;
        background-color:#CCCCCC ;
        z-index: 999;
        line-height: 25px;
        color:#6969DA;
        border-bottom:1px solid #fff;
        animation:show 2s;
    }
    .container { 
        width:70%;
        height: 80vh;
        position:relative;
        top:25px;
        margin-bottom:2vh;
        margin:0 auto;
    }
    .left { 
        background-color: #8FACD6;
        height:100%;
        width: 300px;
        position:fixed;
        padding-top:40px;
        line-height: 25px;
        padding-left:5px;
        padding-right:5px;
        animation:left 2s;
    }
    .left-content{
        padding-top:40px;
    }
    .right{
        margin-left:310px;
        background-color:#CCCCCC;
        padding-bottom:10px;
        padding-top:5px;
        min-height:calc(100vh - 25px);
        line-height:35px;
        animation:right 2s;
    }
    .face{
        display:block;
        margin:0 auto;
    
     }
    .info{
        width:0;
        height:0;
        border:3vh solid #CCCCCC;
        border-bottom-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        display:inline-block;
        margin-left:1vh;
        margin-top:1vh;
    }
    .info-text{
        font-size: 1.5rem;
        height:1rem;
        line-height: 1rem;
        color:#6969DA;
    }
    .circle{
        border-radius: 8px;
        border:4px solid #CCCCCC;
        width:4px;
        height:4px;
        display:inline-block;
        margin-top:20px;
        margin-left:12px;
        margin-right:4px;
     }
    .right-circle{
        border-radius: 8px;
        border:4px solid #8FACD6;
        width:4px;
        height:4px;
        display:inline-block;
        margin-right:1vh;  
    }
    .right-info{
        width:0;
        height:0; 
        border:3vh solid #8FACD6;
        border-bottom-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        display:inline-block;
        margin-left:1vh;
        margin-top:1vh;
       
    }
    .font-white{
        color:#F5FDF0;
        font-size:1rem;
    }
    .font-blue{
        color:#6969DA;
    }
    .web-link{
        text-decoration:none;
        color:#F5FDF0;
    }
    .info-content{
        margin-left:2vh;
        margin-right:2vh;
        padding:2vh;
        border-left:double 3px #8FACD6;
        border-bottom:double 3px #8FACD6;
    }
    .blog-link{
        text-decoration: none;
        border-bottom: 1px solid #8FACD6;
        padding-bottom:5px;
    }
    .source-link{
        text-decoration: none;
        color:#39A2E9;
        font-size:0.5rem;
        margin-left:10px;
    }
    @keyframes show
    {
        from {opacity:0;left:-100%;}
        to {opacity:1;left:15%;}
    }
    @keyframes left
    {
        from {top:100vh;}
        to {top:25px;}
    }
    @keyframes right
    {
        from {margin-left:100vw;}
        to {margin-left:310px;}
    }            
}

@media screen and (max-width:800px){
    .header{
        display:none;
    }
    .container { 
        width:100%;
        height: 100%;
        position:relative; 
    }
    .left { 
        background-color: #8FACD6;
        height:100%;
        width:100%;
        line-height:40px;
        padding:20px;
        box-sizing: border-box;
    }
    .right{
        background-color:#B6C0BC;
        width:100%;
        line-height:30px;
        padding:20px;
        box-sizing: border-box;
    }
    .face{
        display:block;
        margin:0 auto;
        position: relative;
        top:2vw;
        width:20vw;
        height:20vw;
     }
    .info{
        width:0;
        height:0;
        border:3vh solid #CCCCCC;
        border-bottom-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        display:inline-block;
        margin-left:1vw;
        margin-top:1vw;
    }
    .info-text{
        font-size: 20px;
        height:20px;
        line-height: 20px;
        color:#6969DA;
    }
    .info-content{
        border-bottom:double 3px #8FACD6;
    }
    .right-circle{
        border-radius: 8px;
        border:4px solid #8FACD6;
        width:4px;
        height:4px;
        display:inline-block;
        margin-right:1vh;  
    }
    .circle{
        border-radius: 2vw;
        border:1vw solid #CCCCCC;
        width:1vw;
        height:1vw;
        display:inline-block;
        margin-left:3vw;
        margin-right:1vw;
     }
     
    .font-white{
        color:#F5FDF0;
    }
    .font-blue{
        color:#6969DA;
    }
    .web-link{
        text-decoration:none;
        color:#F5FDF0;
    }
    .blog-link{
        text-decoration: none;
        border-bottom: 1px solid #8FACD6;
        padding-bottom:5px;
    }
    .source-link{
        text-decoration: none;
        color:#39A2E9;
        font-size:0.5rem;
        margin-left:10px;
    }    
}


